<!DOCTYPE html>
<html>
<head>
  <title>Posting</title>
  <%= stylesheet_link_tag    "posting/application", media: "all" %>
  <%= javascript_include_tag "posting/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
